---
layout: default
---

<div class="home blog-excerpt-index">
  {% for post in paginator.posts %}
    <br />
    <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
    <h1 class="entry-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
    <div class="content">
      {{ post.excerpt }}
      <a href="{{ post.url | prepend: site.baseurl }}">More &raquo;</a>
    </div>
    <hr>
    <br />
  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="previous">← Older</a>
    {% endif %}
    <a href="/blog">&mdash; Blog archives &mdash;</a>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="next">Newer →</a>
    {% endif %}
  </div>
</div>
